* {
  font-family: "Microsoft Yahei", STXihei, "微软雅黑", "华文细黑";
  font-size: 60px;
}
img{
  display: block;
  margin: 0 auto;
}
.middle-section {
  width: auto;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  label {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
  }
  div {
    margin-bottom: 120px;
}