* {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei",
               "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 13px;
}
img{
  display: block;
  margin: 0 auto;
}
.chapter {
  text-align: center;
  margin: 0 auto;
}